.custom-header {
    font-size: 25px;
    font-weight: bold;
}

.custom-comment {
    font-size: 20px;
}

.card {
    margin-bottom: 20px;
}

.count-style {
    font-size: 25px;
    font-weight: bold;
}